<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Codify</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div id="body"> 
  
	<div id="chat-circle" class="btn btn-raised" style="background: #1e549f;">
		<div id="chat-overlay"></div>
		<i class="material-icons" style="color: white;">chat</i> <!-- Updated class to "chat" -->
	</div>
    
  
<div class="chat-box">
    <div class="chat-box-header">
        Codify
        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
    </div>
    <div class="chat-box-body">
        <div class="chat-box-overlay">   
        </div>
        <div class="chat-logs">
       
        </div><!--chat-log -->
    </div>
    <div class="chat-input">      
        <form>
            <input type="text" id="chat-input" placeholder="Send a message..."/>
            <button type="button" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
        </form>      
    </div>
</div>
  
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
  <script src="../static/script.js"></script>
</body>
</html>
